:root {
    --font-family: "Outfit", system-ui;
    --primary-color: #f5d009;
    --primary-hover-color: #ffcf40;
    --secondary-color: #f44336;
    --success-color: #4caf50;
    --success-color-dark: #43a047;
    --error-color: #ff4d4d;
    --error-color-dark: #e53935;
    --text-color: #333;
    --background-color: #f9f9f9;
    --container-width: 1080px;
    --border-radius: 35px;
    --box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
